/*
Source - https://stackoverflow.com/q
Posted by Mafitsi, modified by community. See post 'Timeline' for change history
Retrieved 2025-11-26, License - CC BY-SA 4.0
*/

@import "tailwindcss";

:root {
 
}


body {
}
button{cursor: pointer;}
